<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/user/profile">Free Online Shooping</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/shopping-cart/"><i class="fas fa-shopping-cart"></i> Shopping Cart <span class="badge"><%= session.cart.totalQty %></span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-user"></i> User Management<span class="caret"></span></a>
              <ul class="dropdown-menu">

                <% if(login) { %>

                  <li><a href="/user/profile"><i class="fas fa-user-circle"></i> User Account</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                  <% } else { %>
                    <li><a href="/user/signup"><i class="fas fa-user-circle"></i> Sign Up</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/user/signin"><i class="fas fa-sign-out-alt"></i> Sign In</a></li>

                <% } %>


              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    

  </div>
</div>