
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shopping Cart</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/carousel/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/viewport.css" rel="stylesheet">
    <link href="/css/carousel.css" rel="stylesheet">
  </head>

  <body>

    <% include ./partials/navbar %>


      <!-- Example row of columns -->
      <%- body -%>

      <!-- /container -->
      <% include ./partials/footer %>
      <% include ./partials/javascriptOnly %>
  </body>
</html>
