<% layout('layout') -%>

<div class="container">
  <!-- <h1>Hello World</h1> -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placeimg.com/640/480/science" alt="..." class="img-fluid img-responsive">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis consequuntur laborum, qui beatae nostrum cumque optio illo facilis rem quas voluptates quia, necessitatibus aut sapiente rerum. Animi, reprehenderit deleniti?</p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          </div>
        </div>
    </div>

    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placeimg.com/640/480/science" alt="..." class="img-fluid img-responsive">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis consequuntur laborum, qui beatae nostrum cumque optio illo facilis rem quas voluptates quia, necessitatibus aut sapiente rerum. Animi, reprehenderit deleniti?</p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placeimg.com/640/480/science" alt="..." class="img-fluid img-responsive">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis consequuntur laborum, qui beatae nostrum cumque optio illo facilis rem quas voluptates quia, necessitatibus aut sapiente rerum. Animi, reprehenderit deleniti?</p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          </div>
      </div>
    </div>

  </div>

  <div class="row">
    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placeimg.com/640/480/science" alt="..." class="img-fluid img-responsive">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis consequuntur laborum, qui beatae nostrum cumque optio illo facilis rem quas voluptates quia, necessitatibus aut sapiente rerum. Animi, reprehenderit deleniti?</p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          </div>
        </div>
    </div>

    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placeimg.com/640/480/science" alt="..." class="img-fluid img-responsive">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis consequuntur laborum, qui beatae nostrum cumque optio illo facilis rem quas voluptates quia, necessitatibus aut sapiente rerum. Animi, reprehenderit deleniti?</p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placeimg.com/640/480/science" alt="..." class="img-fluid img-responsive">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis consequuntur laborum, qui beatae nostrum cumque optio illo facilis rem quas voluptates quia, necessitatibus aut sapiente rerum. Animi, reprehenderit deleniti?</p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          </div>
        </div>
    </div>

  </div>
</div>